<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Cyber Café</title>
</head>

<body>

    <!-- UTILISATEUR SECTION -->
    <h1></h1>
    <!-- COMPUTER SECTION -->
    <div class="section-computer">
        <h2 class="section-title">Liste des ordinateurs</h2>
        <div class="computer-container">
            <% computers.forEach(computer=> { %>

                <div class="computer-card">
                    <div class="computer-card_icon icon-gaming"></div>
                    <h3 class="computer-card_label">
                        <%=computer.label%>
                    </h3>
                    <div class="computer-card_action">
                        <img src="../img/icon-add.png" width="10px" height="10px" alt="add">
                    </div>
                    <h4 class="computer-card_type">
                        <%=computer.type%>
                    </h4>
                </div>
                <% }) %>


        </div>
    </div>

    <!-- RESERVATION SECTION -->

    <div class="section-reservation">
        <h2 class="section-title">Réservations</h2>
        <table class="reservation-table">
            <thead class="table-head">
                <tr>
                    <th class="table-header">Nom du poste</th>
                    <th class="table-header">Type</th>
                    <th class="table-header">Utilisateur</th>
                    <th class="table-header">Début de session</th>
                    <th class="table-header">Fin de session</th>
                    <th class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% reservations.forEach(reservation=> { %>
                    <tr class="table-row">
                        <td class="table-text"><%= reservation.ID_computer %></td>
                        <td class="table-text">Gaming</td>
                        <td class="table-text">Tom Jedusor</td>
                        <td class="table-text"><%= reservation.start %></td>
                        <td class="table-text"><%= reservation.end %></td>
                        <td class="table-actions">
                            <div class="table-add"><img src="../img/icon-edit.png" width="10px" height="10px" alt="add">
                            </div>
                            <div class="table-delete"><img src="../img/icon-add.png" style="transform:rotate(45deg)"
                                    width="12px" height="12px" alt="delete"></div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <div class="section-utilisateur">
        <h2 class="section-title">Liste des utilisateurs</h2>
        <div class="utilisateur-container">
            <% users.forEach(user=> { %>
            <div class="utilisateur-card">
                <div class="utilisateur-card_status active"></div>
                <h3 class="utilisateur-card_label"><%= user.name %></h3>
                <div class="utilisateur-card_actions">
                    <div class="utilisateur-card_add"><img src="../img/icon-add.png" width="10px" height="10px"
                            alt="add"></div>
                    <div class="utilisateur-card_delete"><img src="../img/icon-add.png" width="10px" height="10px"
                            alt="delete" style="transform:rotate(45deg)"></div>
                </div>
            </div>
            <% }) %>

        </div>

    </div>
</body>

</html>