<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Cyber Café</title>
</head>

<body>

    <!-- COMPUTER SECTION -->
    <div class="section-computer">
        <h2 class="section-title">Liste des ordinateurs</h2>
        <div class="computer-container">
            <% computers.forEach(computer=> { %>

                <div class="computer-card">
                    <div class="computer-card_icon icon-gaming"></div>
                    <h3 class="computer-card_label">
                        <%=computer.label%>
                    </h3>
                    <div class="computer-card_action">
                        <img src="../img/icon-add.png" width="10px" height="10px" alt="add">
                    </div>
                    <h4 class="computer-card_type">
                        <%=computer.type%>
                    </h4>
                </div>
                <% }) %>


        </div>
    </div>

    <!-- RESERVATION SECTION -->
    <div class="section-reservation">
        <h2 class="section-title">Réservations</h2>
        <table class="reservation-table">
            <thead class="table-head">
                <tr>
                    <th class="table-header">Nom du poste</th>
                    <th class="table-header">Date</th>
                    <th class="table-header">Utilisateur</th>
                    <th class="table-header">Début de session</th>
                    <th class="table-header">Fin de session</th>
                    <th class="table-header">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% reservations.forEach(reservation=> { %>
                    <tr class="table-row">
                        <td class="table-text">
                            <%= computers.find(computer=> computer._id === reservation.ID_computer).label %>
                        </td>
                        <td class="table-text">
                            <%= reservation.date.slice(0, 10) %>
                        </td>
                        <td class="table-text">
                            <%= users.find(user=> user._id === reservation.ID_user).name%>

                        </td>
                        <td class="table-text">
                            <%= reservation.start %>
                        </td>
                        <td class="table-text">
                            <%= reservation.end %>
                        </td>
                        <td class="table-actions">
                            <div class="table-add"><img src="../img/icon-edit.png" width="10px" height="10px" alt="add">
                            </div>
                            <div class="table-delete"><img src="../img/icon-add.png" style="transform:rotate(45deg)"
                                    width="12px" height="12px" alt="delete"></div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

    <!-- UTILISATEUR SECTION -->
    <div class="section-utilisateur">
        <h2 class="section-title">Liste des utilisateurs</h2>
        <div class="utilisateur-container">
            <% users.forEach(user=> { %>
                <div class="utilisateur-card">
                    <div class="utilisateur-card_status active"></div>
                    <h3 class="utilisateur-card_label">
                        <%= user.name %>
                    </h3>
                    <div class="utilisateur-card_actions">
                        <div class="utilisateur-card_add"><img src="../img/icon-add.png" width="10px" height="10px"
                                alt="add"></div>
                        <div class="utilisateur-card_delete"><img src="../img/icon-add.png" width="10px" height="10px"
                                alt="delete" style="transform:rotate(45deg)"></div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <!-- CREATE RESERVATION -->
    <div class="modal-reservation_box">
        <div class="modal-reservation">
            <div class="modal-reservation_title">Ajouter une réservation</div>

            <form class="modal-reservation_form" action="http://localhost:1234/api/reservations" method="post">
                <label class="reservation-form_label1 modal-form_label" for="reservation-computer">Poste</label>
                <select class="reservation-form_input1 modal-form_input" name="ID_computer" id="reservation-computer">
                    <% computers.forEach(computer=> { %>
                        <option value="<%=computer._id%>">
                            <%=computer.label%>
                        </option>
                        <% }) %>
                </select>
                <label class="reservation-form_label2 modal-form_label" for="reservation-date">Utilsateur</label>
                <select class="reservation-form_input2 modal-form_input" name="ID_user" id="reservation-user">
                    <% users.forEach(user=> { %>
                        <option value="<%=user._id%>">
                            <%=user.name%>
                        </option>
                        <% }) %>
                </select>
                <label class="reservation-form_label3 modal-form_label" for="reservation-date">Date de
                    réservation</label>
                <input class="reservation-form_input3 modal-form_input" type="date" name="date" id="reservation-date">
                <label class="reservation-form_label4 modal-form_label" for="reservation-start">Début de session</label>
                <input class="reservation-form_input4 modal-form_input" type="time" name="start" id="reservation-start">
                <label class="reservation-form_label5 modal-form_label" for="reservation-end">Fin de session</label>
                <input class="reservation-form_input5 modal-form_input" type="time" name="end" id="reservation-end">
                <div class="reservation-form_actions">
                    <div class="reservation-form_cancel">Annuler</div>
                    <input class="reservation-form_submit" type="submit" value="Créer">
                </div>
                <input type="hidden" value="fromClient" name="fromClient">
            </form>
            <div class="modal-reservation_close" onclick="closeModal('reservation')">X</div>
        </div>
    </div>
    <!-- CREATE COMPUTER -->
    <div class="modal-computer_box">
        <div class="modal-computer">
            <div class="modal-computer_title">Ajouter un poste</div>
            <form class="modal-computer_form" action="http://localhost:1234/api/computers" method="post">
                <label class="computer-form_label1 modal-form_label" for="computer-label">Nom du poste</label>
                <input class="computer-form_input1 modal-form_input" type="text" name="label" placeholder="Poste X"
                    id="computer-label">
                <label class="computer-form_label2 modal-form_label" for="computer-type">Type du poste</label>
                <select class="computer-form_input2 modal-form_input" name="type" id="computer-type">
                    <option value="gaming">Gaming</option>
                    <option value="etude">Etudes</option>
                </select>
                <div class="computer-form_actions">
                    <div class="computer-form_cancel">Annuler</div>
                    <input class="computer-form_submit" type="submit" value="Créer">
                </div>
                <input type="hidden" value="fromClient" name="fromClient">
            </form>
            <div class="modal-computer_close" onclick="closeModal('computer')">X</div>
        </div>
    </div>

    <!-- CREATE USER -->
    <div class="modal-user_box">
        <div class="modal-user">
            <div class="modal-user_title">Ajouter un utilisateur</div>
            <form class="modal-user_form" action="http://localhost:1234/api/users" method="post">
                <label class="user-form_label1 modal-form_label" for="user-name">Prénom et Nom</label>
                <input class="user-form_input1 modal-form_input" type="text" name="name" placeholder="Poste X"
                    id="user-name">
                <label class="user-form_label2 modal-form_label" for="user-email">Adresse Email</label>
                <input type="email" class="user-form_input2 modal-form_input" name="email" id="user-email">
                <div class="user-form_actions">
                    <input class="user-form_submit" type="submit" value="Créer">
                    <div class="user-form_cancel">Annuler</div>

                </div>
                <input type="hidden" value="fromClient" name="fromClient">
            </form>
            <div class="modal-user_close" onclick="closeModal('user')">X</div>
        </div>
    </div>
    <script>
        function closeModal(ressource) {
            let modal = document.getElementsByClassName(`modal-${ressource}`)[0]
            modal.parentNode.style.display = 'none'
        }
    </script>
</body>

</html>